body {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}
.search {
    width: 200px;
    height: 200px;
}
.display {
    float: right;
}

.search input {
    margin: 5px;
    border: none;
}
#text-search {
    border-bottom: 1px solid black;
    outline: none;
}
a {
    text-decoration: none;
}