body {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}
.home {
    height: 140px;
    background-color:cornflowerblue;
    box-shadow:rgba(0,0,0,0.3) 0 0px 4px
}

.search {
    margin-top: 20px;
    width: 200px;
    height: 70px;
}
.display {
    float: right;
}

.search input {
    margin: 5px;
    border: none;
}
#text-search {
    border-bottom: 1px solid black;
    outline: none;
}
